{% extends 'todo/base.html' %} {% block content %}

<div class="row">
  <div class="col-md-10 offset-sm-1">
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}}

      <div class="row">
        <div class="col-sm-6">
          <input
            class="btn btn-warning w-100 mb-3"
            type="submit"
            value="Update"
          />
        </div>
        <div class="col-sm-6">
          <a class="btn btn-primary mb-3 w-100" href="/">Back to Home</a>
        </div>
      </div>
    </form>
  </div>

  {% endblock content %}
</div>
